
/* #main {
    width: 75%;
}

#nav {
    width: 75%;
} */

#wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

#main, #nav, #footer {
    max-width: 1000px;
}
/* 
#nav {
    max-width: 1000px;
} */

/* @media screen and (max-width: 460px) {

    #main {
        width: 100%;
    }

} */

/* @media screen and (max-width: 520px) {

    #wrapper {
        width: 100%;
    }

} */

/* Topper */

/* #topper {

} */


.column-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* flex-wrap: wrap; */
    flex-direction: column;
    border: 0.1rem solid;
    width: 100%;
    padding: 5%;
}

@media screen and (max-width: 480px) {
    .column-content {
        width: 100%;
    }

    #main > .post {
        padding: 4rem 1rem 2rem 1rem;
    }
}

/* .column-content > * {
    flex: 1;
} */

#main .column-content p {
    text-align: left;
}


.flex-column {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}


.column-content > h1, 
.column-content > h2,
.column-content > h3 {
    align-self: flex-start;
    margin-top: 2rem;
    font-weight: bolder;
    text-decoration: underline;
}

.outcome-text {
    /* font-weight: 100; */
    text-decoration: underline;
    font-size: 1.4rem;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}

.row-content {
    display: flex;
    justify-content: center;
    flex-direction: row;
}


.main.video {
    aspect-ratio: auto;
    border: 5px black solid; 
    /* background-color: black; */
}

/* Logos */
img {
    border-color: black;
    border-width: 5px;
    border-style: solid;
}

video {
    border-color: black;
    border-width: 5px;
    border-style: solid;
    width: 75%;
    aspect-ratio: 1;
    background-color: black;
}



img.sneak-easy-logo {
    background-color: maroon;
}

img.tomb-for-two-logo {
    background-color: darkcyan;
}

img.roblox-dev-logo {
    background-color: gainsboro;
}


.msugreen-text {
    color: #0B9A6D;
}

/* Posts */

.posts li {
    width: 60%;
    margin: 0 auto;
}

.column-content img {
    max-width: 100%;
}

.column-content label {
    margin: 0 0 2rem 0;
}