


.column-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* flex-wrap: wrap; */
    flex-direction: column;
    border: 0.1rem solid;
    width: 90%;
    padding: 5%;
}

.column-content > * {
    flex: 1;
}

#main .column-content p {
    text-align: left;
}


.flex-column {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}


.column-content > h1, 
.column-content > h2 {
    align-self: flex-start;
    margin-top: 2rem;
    font-weight: bolder;
    text-decoration: underline;
}

.row-content {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

/* Logos */
img {
    border-color: black;
    border-width: 5px;
    border-style: solid;
}

video {
    border-color: black;
    border-width: 5px;
    border-style: solid;
}

img.sneak-easy-logo {
    background-color: maroon;
}

img.tomb-for-two-logo {
    background-color: darkcyan;
}

img.roblox-dev-logo {
    background-color: gainsboro;
}


.msugreen-text {
    color: #0B9A6D;
}